@model PatientViewModel

@{
    ViewData["Title"] = "Detalle Paciente";
}

<h1 class="text-center">Sistema Clinico</h1>

<div class="row">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h3 class="text-white">Detalle del Paciente</h3>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item"><strong>@Html.DisplayFor(model => Model.ID)</strong></li>
                    <li class="list-group-item"><strong>@Html.DisplayFor(model => Model.DNI)</strong></li>
                    <li class="list-group-item"><strong>@Html.DisplayFor(model => Model.Name)</strong></li>
                </ul>
                <a asp-controller="Patients" class="btn btn-primary" asp-action="Index">Volver</a>
            </div>
        </div>
    </div>
</div>