@model DoctorViewModel

@{
    ViewData["Title"] = "Detalle Medico";
}

<h1 class="text-center">Doctor</h1>

<div class="row">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h3 class="text-white">Detalle de medico</h3>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item"><strong>@Html.DisplayFor(x => x.ID)</strong></li>
                    <li class="list-group-item"><strong>@Html.DisplayFor(x => x.DNI)</strong></li>
                    <li class="list-group-item"><strong>@Html.DisplayFor(x => x.Name)</strong></li>
                </ul>
                <a asp-controller="Doctors" class="btn btn-primary" asp-action="Index">Volver</a>
            </div>
        </div>
    </div>
</div>